# Environment
.env
.venv
env/
venv/


.idea


# Djanfo files
social_media/chat/__pycache__/
social_media/chat/migrations/__pycache__/
social_media/comments/__pycache__/
social_media/comments/migrations/
social_media/posts/__pycache__/
social_media/posts/migrations/
social_media/stories/__pycache__/
social_media/stories/migrations/
social_media/users/__pycache__/
social_media/users/migrations/
social_media/social_media/__pycache__/



/social_media/chat/
/social_media/comments/
/social_media/stories/
